.searchArea {
  position: sticky;
  top: 0;
  display: flex;
  height: 64px;
  padding: 12px 30px;
  border-bottom: 1px solid #c0c0c0;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.logoImg {
  width: 70px;
}
.logoArea {
  display: flex;
}
.logoArea .leftMenuBtn {
  margin-right: 20px;
  padding: 10px;
}
.searchInputArea {
  display: flex;
  align-items: center;
}
.searchInput {
  /* width: 500px; */
  width: 35vw;
  height: 40px;
  padding-left: 10px;
  margin-right: 4px;
  border: 1px solid #dfdfdf;
  font-size: 14px;
  outline: none;
}
.searchBtn {
  background-color: #f3f3f3;
  /* padding: 10px; padding 말고 width 주기*/
  width: 60px;
  height: 40px;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
}
.searchBtn img {
  width: 24px;
}
.gridMenuBtn img {
  width: 24px;
}
button {
  background: none;
  outline: none;
  border: none;
  border: none;
}
.micBtn {
  background: none;
  padding: 10px;
  margin-left: 4px;
}
.micBtn i {
  color: #525252;
  font-size: 24px;
}
.topMenuArea {
  display: flex;
}
.topMenuArea .rightMenuBtn {
  padding: 10px;
  margin-left: 8px;
}
.topMenuArea .rightMenuBtn i {
  color: #a7a5a5;
  font-size: 20px;
}
