.App {
  text-align: center;
}
.contents {
  display: flex;
}
.view {
  flex: 1 1 70%;
}
.list {
  flex: 1 1 30%;
}
.contents-wrap {
  display: flex;
}
.contents-wrap .sideBar {
  flex: 0 0 70px;
}
@media screen and (max-width: 1200px) {
  .contents {
    flex-direction: column;
  }
  .list {
    width: 100%;
    height: 50%;
  }
}
